<div class="container mt-4">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h2 class="mb-0">Order Processing List</h2>
	</div>

	<table cTable hover class="table table-bordered table-striped">
		<thead class="table-primary">
			<tr>
				<th scope="col">Process ID</th>
				<th scope="col">Order ID</th>
				<th scope="col">Status</th>
				<th scope="col">Start Date</th>
				<th scope="col">Completion Date</th>
				<th scope="col">Assigned Staff</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr
				*ngFor="
					let orderProcessing of filteredOrderProcessings
						| paginate
							: {
									itemsPerPage: itemsPerPage,
									currentPage: currentPage
							  }
				"
				class="table-row-hover"
			>
				<td>P{{ orderProcessing._id?.slice(-3) }}</td>
				<td>{{ orderProcessing.orderId?.orderId }}</td>
				<td>{{ orderProcessing.orderId?.status }}</td>
				<td>{{ orderProcessing.startDate | date : "short" }}</td>
				<td>
					{{
						orderProcessing.completionDate
							? (orderProcessing.completionDate | date : "short")
							: "N/A"
					}}
				</td>
				<td>
					{{
						orderProcessing.orderId?.assignedStaff?.name
							? orderProcessing.orderId?.assignedStaff?.name
							: "Not Assigned"
					}}
				</td>
				<td>
					<div class="d-flex align-items-center">
						<span
							class="text-info me-3"
							title="View"
							(click)="
								router.navigate([
									'/order-processing/view',
									orderProcessing.orderId.orderId
								])
							"
						>
							View
						</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="d-flex justify-content-center mt-3">
		<pagination-controls
			(pageChange)="currentPage = $event"
		></pagination-controls>
	</div>
</div>
